//- latest jquery
script(src='../assets/js/jquery-3.3.1.min.js')

//- slick js
script(src='../assets/js/owl.carousel.js')

//- popper js
script(src='../assets/js/popper.min.js')
script(src='../assets/js/tippy-bundle.iife.min.js')

//- Bootstrap js
script(src='../assets/js/bootstrap.js')

//- Plugins JS start
script(src='../assets/js/switchery.js')

//- Plugins JS start
if index
    script(src='../assets/js/easytimer.min.js')         
    script(src='../assets/js/index.js')         

if feathericon
    script(src='../assets/js/feather-icon/feather.min.js')
    script(src='../assets/js/feather-icon/feather-icon.js')
        
if ckeditor
    script(src='../assets/js/ckeditor/ckeditor.js')
    script(src='../assets/js/ckeditor/styles.js')
    script(src='../assets/js/ckeditor/adapters/jquery.js')
    script(src='../assets/js/ckeditor/ckeditor.custom.js')

if datepicker
    //-Datepicker js
    script(src='../assets/js/date-picker/datepicker.js')
    script(src='../assets/js/date-picker/datepicker.en.js')
    script(src='../assets/js/date-picker/datepicker.custom.js')

if counter
    script(src='../assets/js/counter.js')
//-tour js 
script(src='../assets/js/tour/intro.js')
script(src='../assets/js/tour/intro-init.js')

//- magnifypopup js //
script(src='../assets/js/jquery.magnific-popup.js')

//- zoom gallary js //
script(src='../assets/js/zoom-gallery.js')

//- Theme js
script(src='../assets/js/script.js')
    