head
  title Chitchat - chat messenger html templlete
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='description' content='Chitchat')
  meta(name='keywords' content='Chitchat')
  meta(name='author' content='Chitchat')
  link(rel='icon' href='../assets/images/favicon/favicon.png' type='image/x-icon')
  link(rel='shortcut icon' href='../assets/images/favicon/favicon.png' type='image/x-icon')
  //- font css
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,600&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap' rel='stylesheet')
  //- Date-picker
  link(rel='stylesheet' type='text/css' href='../assets/css/date-picker.css')

  //- magnify-pop up css
  link(rel='stylesheet' type='text/css' href='../assets/css/magnific-popup.css')
  //- main css 
  link(rel='stylesheet' type='text/css' href='../assets/css/style.css' media="screen" id="color")
   //-Tour icon 

 
  link(rel='stylesheet' type='text/css' href='../assets/css/tour.css')
  

  //- ckeditor


  link(rel="stylesheet" type="text/css" href='../assets/js/ckeditor/skins/moono-lisa/editor.css?t=HBDD')
  link(rel="stylesheet" type="text/css" href='../assets/js/ckeditor/plugins/scayt/skins/moono-lisa/scayt.css')
  link(rel="stylesheet" type="text/css" href='../assets/js/ckeditor/plugins/scayt/dialogs/dialog.css')
  link(rel="stylesheet" type="text/css" href='../assets/js/ckeditor/plugins/tableselection/styles/tableselection.css')
  link(rel="stylesheet" type="text/css" href='../assets/js/ckeditor/plugins/wsc/skins/moono-lisa/wsc.css')
  link(rel="stylesheet" type="text/css" href='../assets/js/ckeditor/plugins/copyformatting/styles/copyformatting.css')

