//-category page //img.heart-logo(src='../assets/images/login_signup/5.png' alt='login logo')
                   img.has-logo(src='../assets/images/login_signup/4.png' alt='login logo')
                   img.login-img(src='../assets/images/login_signup/1.png' alt='login logo')
                   img.boy-logo(src='../assets/images/login_signup/6.png' alt='login boy logo')
                   img.girl-logo(src='../assets/images/login_signup/7.png' alt='girllogo')
include mixin/content.pug
include mixin/footer.pug
include mixin/inner-pages.pug
include mixin/loader.pug
include mixin/sidebar.pug
include mixin/modal.pug
include mixin/app-sidebar.pug
include mixin/right-sidebar.pug
include mixin/breadcrumb.pug
include mixin/animation.pug
include mixin/landing.pug