- var feathericon  = true;

include ../components/mixin
doctype html
html(lang='en')
  include ../components/header-files
  body 
    .inner-page
      +header
      +breadcrumb('blog','home')

    section.section-py-space.blog-page.ratio2_3      
      ul.page-decore
        li.top
          img.img-fluid.inner2(src='../assets/images/landing/footer/2.png' alt='footer-back-img')
        li.bottom
          img.img-fluid.inner2(src='../assets/images/landing/footer/2.png' alt='footer-back-img')

      .custom-container
        .row
          .col-xl-3.col-lg-4.col-md-5
            .blog-sidebar
              +blog-sidebar              
          .col-xl-9.col-lg-8.col-md-7
            +blog-list


    +footer
    +taptop    
    include ../components/footer-files