include ../components/mixin
doctype html
html(lang='en')
  include ../components/header-files

  body 
    .theme-landing
      +header
    +slider
    +app-design
    +chitchat
    +teamwork
    +collaboration


    section.section-py-space
      .landing-title
            div
             h1 Team
            .sub-title
               div
                h4 Team
                h2 Our Experts
      +testimonial  
    // testimonial end //

    +secure-app
    +pricing
    +subscribe
    +footer
    +taptop
    
    include ../components/footer-files
    script(src='../assets/js/jquery.magnific-popup.js')