mixin animation
                   .bg_circle
                     div
                     div
                     div
                     div
                     div
                     div
                     div
                     div
                     div
                     div
                     div
                   .cross
                   .cross1
                   .cross2
                   .dot
                   .dot1
                   .maincircle
                   .top-circle
                   .center-circle
                   .bottom-circle
                   .bottom-circle1
                   .right-circle
                   .right-circle1
                   img.heart-logo(src='../assets/images/login_signup/5.png' alt='login logo')
                   img.has-logo(src='../assets/images/login_signup/4.png' alt='login logo')
                   img.login-img(src='../assets/images/login_signup/1.png' alt='login logo')
                   img.boy-logo(src='../assets/images/login_signup/6.png' alt='login boy logo')
                   img.girl-logo(src='../assets/images/login_signup/7.png' alt='girllogo')
                   img.cloud-logo(src='../assets/images/login_signup/2.png' alt='login logo')
                   img.cloud-logo1(src='../assets/images/login_signup/2.png' alt='login logo')
                   img.cloud-logo2(src='../assets/images/login_signup/2.png' alt='login logo')
                   img.cloud-logo3(src='../assets/images/login_signup/2.png' alt='login logo')
                   img.cloud-logo4(src='../assets/images/login_signup/2.png' alt='login logo')
                   img.has-logo1(src='../assets/images/login_signup/4.png' alt='login logo')
mixin animation2
                   .bg_circle
                     div
                     div
                     div
                     div
                     div
                     div
                     div
                     div
                     div
                     div
                     div
                   .cross
                   .cross1
                   .cross2
                   .dot
                   .dot1
                   .top-circle
                   .center-circle
                   .bottom-circle1
                   .right-circle
                   .right-circle1
                   .quarterCircle
                   img.cloud-logo(src='../assets/images/login_signup/2.png' alt='login logo')
                   img.cloud-logo1(src='../assets/images/login_signup/2.png' alt='login logo')
                   img.cloud-logo2(src='../assets/images/login_signup/2.png' alt='login logo')
                   img.cloud-logo3(src='../assets/images/login_signup/2.png' alt='login logo')
                   img.cloud-logo4(src='../assets/images/login_signup/2.png' alt='login logo')
                   img.cloud-logo5(src='../assets/images/login_signup/2.png' alt='login logo')