mixin app-sidebar
  aside.app-sidebar.active
        .apps
          ul.apps-ul
            li#todo
              .todo-main
                .theme-title
                   .media
                       div
                         h2 Todo
                         h4 to create your task
                       .media-body.media-body.text-right
                         a.icon-btn.btn-sm.btn-outline-light.close-apps(href='#')
                           i(data-feather='x')
                .todo-name
                    form.default-form
                      select.custom-scroll(name='support[support_type]')
                        option All Conversations
                        option Josephin water
                        option Jony Lynetin
                        option Sufiya Elija
                        option Mukrani Pabelo
                        option Jhon Deo

                .todo-tab.theme-tab.custom-scroll
                    ul.nav.nav-tabs
                      li.nav-item
                        a.nav-link.button-effect.active.show(data-toggle='pill' href='#todo1')
                          | All
                      li.nav-item
                        a.nav-link.button-effect(data-toggle='pill' href='#todo2')
                          | My to-dos
                      li
                        a.icon-btn.btn-light.button-effect.btn-sm(data-toggle="modal" data-target="#todoModal")
                          i(data-feather='plus')                       
                    .tab-content
                        #todo1.tab-pane.active.show
                          .tab-card.text-left
                                .todo-task
                                  h4 Designer Discussion     
                                  div.todo-main-content
                                    div.input-text
                                      input(type='checkbox' aria-label='Checkbox for following text input')
                                      input#user_input12(type='text' name='todo-text' placeholder='Give me review on our side' )
                                    div.drop-picker
                                      .dropdown.currency(tabindex='1')
                                        .select
                                          span Assign To
                                        input(type='hidden' name='currency')
                                        ul.dropdown-menu
                                            li.dropdown-divider
                                                .fa.fa-user
                                                h5.text-muted Assign To
                                            li
                                              a(href="#") Josephin john
                                            li
                                              a(href="#") Lynetin john
                                            li
                                              a(href="#") Sufiya john
                                            li
                                              a(href="#") Jhon john
                                      input.datepicker-here.form-control.digits(type='url' data-language='en' placeholder="Due date")
                                  div.todo-list
                                    div#div_3.element
                                      span.add.add-to-do Add-To-Do
                                  div.todo-main-content
                                    div.input-text
                                      input(type='checkbox' aria-label='Checkbox for following text input')
                                      input#user_input13(type='text' name='todo-text' placeholder='Redesign Your Design')
                                    div.drop-picker
                                      .dropdown.currency(tabindex='1')
                                        .select
                                          span Assign To
                                        input(type='hidden' name='currency')
                                        ul.dropdown-menu
                                            li.dropdown-divider
                                                .fa.fa-user
                                                h5.text-muted Assign To
                                            li
                                              a(href="#") Josephin john
                                            li
                                              a(href="#") Lynetin john
                                            li
                                              a(href="#") Sufiya john
                                            li
                                              a(href="#") Jhon john
                                      input.datepicker-here.form-control.digits(type='url' data-language='en' placeholder="Due date")
                                  div.todo-list
                                    div#div_2.element
                                      span.add.add-to-do Add-To-Do
                                  div.todo-main-content
                                    div.input-text
                                      input(type='checkbox' aria-label='Checkbox for following text input')
                                      input#user_input14(type='text' name='todo-text' placeholder=' Complete Project report' )
                                    div.drop-picker
                                      .dropdown.currency(tabindex='1')
                                        .select
                                          span Assign To
                                        input(type='hidden' name='currency')
                                        ul.dropdown-menu
                                            li.dropdown-divider
                                                .fa.fa-user
                                                h5.text-muted Assign To
                                            li
                                              a(href="#") Josephin john
                                            li
                                              a(href="#") Lynetin john
                                            li
                                              a(href="#") Sufiya john
                                            li
                                              a(href="#") Jhon john
                                      input.datepicker-here.form-control.digits(type='url' data-language='en' placeholder="Due date")
                                  div.todo-list
                                    div#div_1.element
                                      span.add.add-to-do Add-To-Do

                        #todo2.tab-pane.fade
                          .converstaion-docs.tab-card
                            i.fa.fa-sticky-note-o
                            h5.mb-3 No Open To-Dos Here                           
                            a.btn.btn-primary.btn-sm(data-toggle="modal" data-target="#createtodoModal") Create A To-Do
            li#files
              .theme-title
                   .media
                     div
                       h2 Files
                       h4 Shared Media
                     .media-body.media-body.text-right
                       a.icon-btn.btn-sm.btn-outline-light.close-apps(href='#')
                         i(data-feather='x')   
              .theme-tab
                ul.nav.nav-tabs
                  li.nav-item
                    a.nav-link.button-effect.active(data-toggle='pill' href='#tab1')
                      | Media
                  li.nav-item
                    a.nav-link.button-effect(data-toggle='pill' href='#tab2')
                      | Link
                  li.nav-item
                    a.nav-link.button-effect(data-toggle='pill' href='#tab3')
                      | Docs
              .file-tab
                .tab-content.custom-scroll
                  #tab1.tab-pane.active
                    .media-gallery.portfolio-section.grid-portfolio
                      .collapse-block.open
                        h5.block-title 12/12/2019
                          label.badge.badge-primary.sm.ml-2 8
                        .block-content
                            .row.share-media.zoom-gallery
                              .col-4.isotopeSelector.filter
                                div.media-big
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/1.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/1.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/2.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/2.jpg' alt='portfolio-image')
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/3.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/3.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/4.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/4.jpg' alt='portfolio-image')
                                 div.media-small.isotopeSelector.filter.fashion
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/5.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/5.jpg' alt='portfolio-image')
                        h5.block-title 10/01/2020
                          label.badge.badge-primary.sm.ml-2 5
                        .block-content
                            .row.share-media.zoom-gallery
                              .col-4.isotopeSelector.filter
                                div.media-big
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/1.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/1.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/2.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/2.jpg' alt='portfolio-image')
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/3.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/3.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/4.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/4.jpg' alt='portfolio-image')
                                 div.media-small.isotopeSelector.filter.fashion
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/5.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/5.jpg' alt='portfolio-image')
                        h5.block-title 30/04/2020
                          label.badge.badge-primary.sm.ml-2 2
                        .block-content                         
                            .row.share-media.zoom-gallery
                              .col-4.isotopeSelector.filter
                                div.media-big
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/1.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/1.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/2.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/2.jpg' alt='portfolio-image')
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/3.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/3.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/4.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/4.jpg' alt='portfolio-image')
                                 div.media-small.isotopeSelector.filter.fashion
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/5.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/5.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/2.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/2.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/3.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/3.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/4.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/4.jpg' alt='portfolio-image')
                        h5.block-title 10/01/2020
                          label.badge.badge-primary.sm.ml-2 2
                        .block-content
                            .row.share-media.zoom-gallery
                              .col-4.isotopeSelector.filter
                                div.media-big
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/1.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/1.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/2.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/2.jpg' alt='portfolio-image')
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/3.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/3.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/4.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/4.jpg' alt='portfolio-image')
                                 div.media-small.isotopeSelector.filter.fashion
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/5.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/5.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/2.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/2.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/3.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/3.jpg' alt='portfolio-image')
                              .col-4
                                 div.media-small.isotopeSelector.filter
                                  .overlay
                                    .border-portfolio
                                      a(href='../assets/images/gallery/4.jpg')
                                        .overlay-background
                                          i.ti-plus(aria-hidden='true')
                                        img.img-fluid.bg-img(src='../assets/images/gallery/4.jpg' alt='portfolio-image')
                  #tab2.tab-pane.fade
                      .link-group
                        .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 Jquery Template
                            h6 12:05 PM Today 
                        a(href="https://themeforest.net/item/endless-react-admin-template/25365098") https://themeforest.net/item/endless-react-admin-template
                        .media
                          img.img-fluid(src="../assets/images/file_icons/12.png" alt="media-img")
                          .media-body
                            h5 React Template
                            h6.mt-0 Functionality integration project.

                      .link-group
                        .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 Multikart Template
                            h6 05:12 AM Today
                        a(href="https://themeforest.net/item/multikart-responsive-vuejs-ecommerce-template/25174665") https://themeforest.net/item/multikart-responsive-template
                        .media
                          img.img-fluid(src="../assets/images/file_icons/3.png" alt="media-img")
                          .media-body
                            h5 Multipurpose Vuejs.
                            h6.mt-0 Template is a multi-use Vue template.
                      .link-group
                        .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 Unice-Multipurpose
                            h6 03:26 PM
                        a(href="https://themeforest.net/item/unice-angular-multipurpose-template/24776272") https://themeforest.net/item/unice-angular-template
                        .media
                          img.img-fluid(src="../assets/images/file_icons/8.png" alt="media-img")
                          .media-body
                            h5 Angular Template.
                            h6.mt-0 Unice is a Perfect Respon.
                      .link-group
                        .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 Endless-Angular
                            h6 02:26 AM
                        a(href="https://themeforest.net/item/endless-angular-admin-template/23884779") https://themeforest.net/item/endless-angular-admin-template
                        .media
                          img.img-fluid(src="../assets/images/file_icons/12.png" alt="media-img")
                          .media-body
                            h5 Endless Document.
                            h6.mt-0 Help you understand angular.
                      .link-group
                        .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 Bigdeal-eCommerce
                            h6 04:00 PM
                        a(href="https://themeforest.net/item/bigdeal-ecommerce-html-template/24809149") https://themeforest.net/item/bigdeal-ecommerce-template
                        .media
                          img.img-fluid(src="../assets/images/file_icons/9.png" alt="media-img")
                          .media-body
                            h5 HTML Template.
                            h6.mt-0 eCommerce HTML Template.
                      .link-group
                        .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 Multikart-Responsive.
                            h6 11:05 PM
                        a(href="https://themeforest.net/item/multikart-responsive-react-ecommerce-template/23067773") https://themeforest.net/item/multikart-responsive-react-ecommerce
                        .media
                          img.img-fluid(src="../assets/images/file_icons/3.png" alt="media-img")
                          .media-body
                            h5 Multipurp eComme.
                            h6.mt-0 Well with multi-purpose websites.
                      .link-group
                        .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 Creative - Responsive
                            h6 12:26 PM
                        a(href="https://themeforest.net/item/creative-responsive-admin-template/24978419") https://themeforest.net/item/creative-responsive
                        .media
                          img.img-fluid(src="../assets/images/file_icons/11.png" alt="media-img")
                          .media-body
                            h5 Dashboard Templa.
                            h6.mt-0 Creative Admin is a full featured.
                      .link-group
                        .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 eComme Template
                            h6 12:26 PM
                        a(href="https://themeforest.net/item/multikart-responsive-angular-ecommerce-template/22905358") https://themeforest.net/item/multikart-responsive-angular
                        .media
                          img.img-fluid(src="../assets/images/file_icons/3.png" alt="media-img")
                          .media-body
                            h5 Responsive Ang.
                            h6.mt-0 Multikart – Multipurpose.
                      .link-group
                        .media
                          .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 Multikart Templat.
                            h6 12:26 PM
                        a(href="https://themeforest.net/item/multikart-responsive-ecommerce-html-template/22809967") https://themeforest.net/item/multikart-responsive-ecommerce
                        .media
                          img.img-fluid(src="../assets/images/file_icons/10.png" alt="media-img")
                          .media-body
                            h5 Multi Responsive.
                            h6.mt-0 Ecommerce HTML Theme.
                      .link-group
                        .media
                          .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 BigBoost Template
                            h6 04:26 PM
                        a(href="https://themeforest.net/item/bigboost-ecommerce-html-template/24168053") https://themeforest.net/item/bigboost-ecommerce-html-template
                        .media
                          img.img-fluid(src="../assets/images/file_icons/7.png" alt="media-img")
                          .media-body
                            h5 Fully Responsive.
                            h6.mt-0 Multiple Header Varations.
                      .link-group
                        .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 App Landing 
                            h6 10:05 PM 20/05/2019
                        a(href="https://themeforest.net/item/unice-app-landing-corporate-and-portfolio-multipurpose-template/24581311") https://themeforest.net/item/unice-app-landing-corporate-and-portfolio-multipurpose-template
                        .media
                          img.img-fluid(src="../assets/images/file_icons/4.png" alt="media-img")
                          .media-body
                            h5 Multi-Purpos theme.
                            h6.mt-0 Unice is a Perfect Responsive.
                      .link-group
                        .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 Reno - Tools Store
                            h6 12:26 PM
                        a(href="https://themeforest.net/item/reno-multipurpose-html-template/24141678") https://themeforest.net/item/reno-multipurpose-html-template
                        .media
                          img.img-fluid(src="../assets/images/file_icons/6.png" alt="media-img")
                          .media-body
                            h5 Reno Template is a busines.
                            h6.mt-0 Android Mobile or tablets.
                      .link-group
                        .media
                          i(data-feather='link')
                          .media-body
                            h5.mt-0 Shop - Mart
                            h6 12:26 PM 03/11/2019
                        a(href="https://themeforest.net/item/shopmart-multipurpose-shopify-theme/24040917?s_rank=12") https://themeforest.net/item/shopmart-multipurpose-shopify-theme
                        .media
                          img.img-fluid(src="../assets/images/file_icons/5.png" alt="media-img")
                          .media-body
                            h5 Shop Mart Landing Page.
                            h6.mt-0 This is App Landing Template.
                  #tab3.tab-pane.fade
                    ul.chat-main
                      li
                        .chat-box
                          .media
                            .profile
                              a.icon-btn.btn-outline-danger.btn-xl.pull-right.rouded15(href='#')
                                i.fa.fa-file-code-o
                            .details
                              h5 messenger.html
                              h6 2, octomber 2019
                            .media-body
                              a.icon-btn.btn-outline-light.btn-sm.pull-right(href='../assets/doc/messenger.html' target='_blank')
                                i(data-feather='download')

                      li
                        .chat-box
                          .media
                            .profile
                              a.icon-btn.btn-outline-success.btn-xl.pull-right.rouded15(href='#')
                                i.fa.fa-file-video-o
                            .details
                              h5 chapter1.MP4
                              h6 3, Octomber 2019
                            .media-body
                              a.icon-btn.btn-outline-light.btn-sm.pull-right(href='../assets/doc/chapter1.MP4' target='_blank')
                                i(data-feather='download')

                      li
                        .chat-box
                          .media
                            .profile
                              a.icon-btn.btn-outline-primary.btn-xl.pull-right.rouded15(href='#')
                                i.fa.fa-file-word-o
                            .details
                              h5 salary.xlsx
                              h6 5, Octomber 2019
                            .media-body
                              a.icon-btn.btn-outline-light.btn-sm.pull-right(href='../assets/doc/salary.xlsx' target='_blank')
                                i(data-feather='download')
                      li
                        .chat-box
                          .media
                            .profile
                              a.icon-btn.btn-outline-warning.btn-xl.pull-right.rouded15(href='#')
                                i.fa.fa-file-pdf-o
                            .details
                              h5 document.pdf
                              h6 7, Octomber 2019
                            .media-body
                              a.icon-btn.btn-outline-light.btn-sm.pull-right(href='../assets/doc/document.pdf' target='_blank')
                                i(data-feather='download')
                      li
                        .chat-box
                          .media
                            .profile
                              a.icon-btn.btn-outline-danger.btn-xl.pull-right.rouded15(href='#')
                                i.fa.fa-file-text-o
                            .details
                              h5 details.txt
                              h6 20, Octomber 2019
                            .media-body
                              a.icon-btn.btn-outline-light.btn-sm.pull-right(href='../assets/doc/details.txt' target='_blank')
                                i(data-feather='download')
                      li
                        .chat-box
                          .media
                            .profile
                              a.icon-btn.btn-outline-success.btn-xl.pull-right.rouded15(href='#')
                                i.fa.fa-file-code-o
                            .details
                              h5 messenger.html
                              h6 2, octomber 2019
                            .media-body
                              a.icon-btn.btn-outline-light.btn-sm.pull-right(href='../assets/doc/messenger.html' target='_blank')
                                i(data-feather='download')
            li#notes
              .notes-main
                .theme-title
                   .media
                     div
                       h2 Notes
                       h4 Notes List
                     .media-body.media-body.text-right
                       a.icon-btn.btn-sm.btn-outline-light.close-apps(href='#')
                         i(data-feather='x')
                form.default-form
                  .form-group.notes-content                     
                    select 
                        option Contact Or Channel
                        option Weekdays (Mon-Fri)
                        option Daily
                        option Weekly (Custom)
                    ul
                      li
                        a.icon-btn.btn-light.button-effect.btn-sm(data-toggle="modal" data-target="#notesModal")
                                i(data-feather='plus')
                    //- ul.notes-content
                      //- li                    
                      //-     a.btn.btn-primary.button-effect.btn-sm(data-toggle="modal" data-target="#notesModal") Create A Note</a>
                      li
                          a.icon-btn.btn-light.button-effect.btn-sm(data-toggle="modal" data-target="#notesModal")
                              i(data-feather='plus')
                    //- p Notes are available for the selected conversation
                .notes-list
                      h6.mb-2.text-muted Joshephin Water.10 Jan
                      .media
                        img.img-fluid.mr-3(src="../assets/images/file_icons/5.png" alt="media-img")
                        .media-body
                          h5.mt-0 Joshephin Water
                      h5.mb-2 Imporatnt project link
                      h6.mb-2 Please start testing task of your projects.
                      .forward-main
                        //- i.fa.fa-mail-forward
                        a.line.fa.fa-mail-forward(href='#') Forward                         
            li#reminder
              .reminder-main
                .theme-title
                   .media
                     div
                       h2 Reminders
                       h4 Set reminders
                     .media-body.media-body.text-right
                       a.icon-btn.btn-sm.btn-outline-light.close-apps(href='#')
                         i(data-feather='x')
                .reminder-content.tab-card
                  i.ti-alarm-clock
                  p Never forget important tasks. Set personal and group reminders.
                  a.setreminder.btn.btn-primary.button-effect.btn-sm(data-toggle="modal" data-target="#setReminder") set reminder
                .reminder-list-disp
                      h5 Themeforest Discusssion
                      h6 Project Discussion
                      span 11:22 PM | 15 FAB
                      ul.reminder-disp
                        li.reminder-list-toggle
                            a.icon-btn.bg-transparent(href="#")
                              i(data-feather='more-vertical')
                            .reminder-contentlist-toggle
                              ul
                                li
                                  a.icon-btn.btn-sm(href='#')
                                    i(data-feather='trash')
                                  h5 Delete
                .reminder-list
                   button.Show-reminder Show Completed
                   button.Hide-reminder Hide Completed
                   .target-reminder-list
                      h5 Session Start
                      h6 Project Discussion
                      h6 05:22 PM | 1 JAN
                      ul.reminder-disp
                        li.reminder-toggle
                            a.icon-btn.bg-transparent(href="#", data-tippy-content='Quick action')
                              i(data-feather='more-vertical')
                            .reminder-content-toggle
                              ul
                                li
                                  a.icon-btn.btn-sm(href='#')
                                    i(data-feather='trash')
                                  h5 Delete

          
        .app-list
            ul.app-list-ul.custom-scroll
               li.title.apps-toggle
                  i(data-feather='grid')
                  h5 Apps
               li
                  a.icon-btn.btn-outline-success.btn-sm.button-effect(href='files')
                     i(data-feather='file')
                  h5 Files    
               li
                  a.icon-btn.btn-outline-primary.btn-sm.button-effect(href='notes')
                    i(data-feather='book')
                  h5 Notes    
               li
                  a.icon-btn.btn-outline-danger.btn-sm.button-effect(href='todo')
                    i(data-feather='list')
                  h5 Todo    
               li
                  a.icon-btn.btn-outline-warning.btn-sm.button-effect(href='reminder')
                   i(data-feather='clock')
                  h5 Reminder
               li.close-app
                  a.icon-btn.btn-danger(href='#' onclick='removedefault()')
                    i(data-feather='x')
                  h5 close