mixin footer
  //-footer start //
  footer
    .container.footer-main
      .row.footer-block
        .col-lg-3.col-md-6
           .footer-title.footer-mobile-title
              h3 About
           .about-payment.footer-contant
              .logo
                a(href="messenger.html")
                  img(src="../assets/images/logo/landing-logo.png" , alt="logo")
              p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece Lorem fugit on looked ipsum.
              ul.social-group
                li
                  a.icon-btn.btn-google.button-effect.btn-sm(href="#")
                    i.fa.fa-facebook
                li
                  a.icon-btn.btn-twiter.button-effect.btn-sm(href="#")
                    i.fa.fa-twitter
                li
                  a.icon-btn.btn-linkedin.button-effect.btn-sm(href="#")
                    i.fa.fa-linkedin
                li
                  a.icon-btn.btn-instagram.button-effect.btn-sm(href="#")
                    i.fa.fa-instagram
        .col-lg-2.col-md-3
              .links
                .footer-title
                  h3 Useful Links
                .footer-contant
                 ul
                  li
                    a(href="#") Home
                  li
                    a(href="#") About us
                  li
                    a(href="#") Services
                  li
                    a(href="#") Blog
                  li
                    a(href="#") Contact
        .col-lg-2.col-md-3
            .links
              .footer-title
                  h3 Chitchat Help
              .footer-contant    
               ul
                li
                  a(href="#") Privacy Policy
                li
                  a(href="#") FAQ
                li
                  a(href="#") Support
                li
                  a(href="#") Contact
                li
                  a(href="#") Tearm
        .col-lg-2.col-md-4
            .links
              .footer-title
                  h3 Download For
              .footer-contant
               ul
                li
                  a(href="#") Windows
                li
                  a(href="#") Linux
                li
                  a(href="#") IOS
                li
                  a(href="#") Android
                li
                  a(href="#") Mac
        .col-lg-3.col-md-4
            .downlaod

              div
                .footer-title
                    h3 Download Apps
                .footer-contant
                  .footer-btn
                    a.btn.active(href="#")
                        i.fa.fa-apple
                        div
                          h6 Available on the
                          h4 App store
                    a.btn(href="#")
                        i.fa.fa-play
                        div
                          h6 Available on the
                          h4 Google play


    .footer-back-block
      img.img-fluid.inner1(src="../assets/images/landing/footer/2.png" alt="footer-back-img")
      img.img-fluid.inner2(src="../assets/images/landing/footer/2.png" alt="footer-back-img")

    .container.copyright-footer
      .row.copyright
            .col-md-6.col-sm-12
              p © 2019 Chitchat. All Rights Reserved
            .col-md-6.col-sm-12.links_horizontal
              p.text-right Made with 
                span &hearts; 
                | By Theme Pixelstrap
