mixin taptop
  .tap-top
     div
       i.fa.fa-angle-double-up

mixin blog-sidebar
  .blog-card
    h4 search
    .blog-search
      .input-group
        input.form-control(type='text' placeholder='search in blog')
        span
            i.fa.fa-search
  .blog-card
    h4 follow us
    ul.blog-follow
      li
        i.fa.fa-facebook-square
      li
        i.fa.fa-twitter
      li
        i.fa.fa-instagram
      li
        i.fa.fa-skype
      li
        i.fa.fa-linkedin
  .blog-card
        h4 Recent Blog
        ul.recent-blog
          li
            .media
              img.img-fluid.blur-up.lazyload(src='../assets/images/blog/small/1.jpg' alt='Generic placeholder image')
              .media-body.align-self-center
                h5 1 Dec 2020
                p 0 hits
          li
            .media
              img.img-fluid.blur-up.lazyload(src='../assets/images/blog/small/2.jpg' alt='Generic placeholder image')
              .media-body.align-self-center
                h5 2 Dec 2020
                p 0 hits
          li
            .media
              img.img-fluid.blur-up.lazyload(src='../assets/images/blog/small/3.jpg' alt='Generic placeholder image')
              .media-body.align-self-center
                h5 3 Dec 2020
                p 0 hits
          li
            .media
              img.img-fluid.blur-up.lazyload(src='../assets/images/blog/small/4.jpg' alt='Generic placeholder image')
              .media-body.align-self-center
                h5 4 Dec 2020
                p 0 hits
          li
            .media
              img.img-fluid.blur-up.lazyload(src='../assets/images/blog/small/2.jpg' alt='Generic placeholder image')
              .media-body.align-self-center
                h5 5 Dec 2020
                p 0 hits
  .blog-card
    h4 Popular Blog
    ul.popular-blog
      li
        .media
          .blog-date
            h3 03 
            span may
          .media-body.align-self-center
            h5 Humour the like            
            p it look like readable English. Many desktop publishing text.
      li
        .media
          .blog-date
            h3 03 
            span may
          .media-body.align-self-center
            h5 Injected like
            p it look like readable English. Many desktop publishing text.
      li
        .media
          .blog-date
            h3 03 
            span may
          .media-body.align-self-center
            h5 Injected like            
            p it look like readable English. Many desktop publishing text.
      li
        .media
          .blog-date
            h3 03 
            span may
          .media-body.align-self-center
            h5 Injected the
            p it look like readable English. Many desktop publishing text.
  .blog-card
    ul.tags
      li 
        a(href="#") Design
      li
        a(href="#") Clean
      li
        a(href="#") CSS3
      li
        a(href="#") Portfolio
      li
        a(href="#") Pixelstrap
      li
        a(href="#") Perfect
      li
        a(href="#") NoJquery                    

mixin blog-list
  .row.blog-media
    .col-xl-6
      .blog-side
        .blog-left
          a(href='#')
            img.img-fluid(src='../assets/images/blog/1.jpg' alt='')
        .blog-right
          div
            h6 25 January 2018
            a(href='#')
              h4
                | you how all this mistaken idea of denouncing pleasure.
            ul.post-social
              li
                i.fa.fa-user 
                | Admin
              li
                i.fa.fa-comments
                |  10 Comment
            p
              | Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
    .col-xl-6
      .blog-side
        .blog-left
          a(href='#')
            img.img-fluid(src='../assets/images/blog/2.jpg' alt='')
        .blog-right
          div
            h6 25 January 2018
            a(href='#')
              h4
                | you how all this mistaken idea of denouncing pleasure.
            ul.post-social
              li
                i.fa.fa-user 
                | Admin
              li
                i.fa.fa-comments
                |  10 Comment
            p
              | Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
  .row.blog-media
    .col-xl-6
      .blog-side
        .blog-left
          a(href='#')
            img.img-fluid(src='../assets/images/blog/3.jpg' alt='')
        .blog-right
          div
            h6 25 January 2018
            a(href='#')
              h4
                | you how all this mistaken idea of denouncing pleasure.
            ul.post-social
              li
                i.fa.fa-user 
                | Admin
              li
                i.fa.fa-comments
                |  10 Comment
            p
              | Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
    .col-xl-6
      .blog-side
        .blog-left
          a(href='#')
            img.img-fluid(src='../assets/images/blog/4.jpg' alt='')
        .blog-right
          div
            h6 25 January 2018
            a(href='#')
              h4
                | you how all this mistaken idea of denouncing pleasure.
            ul.post-social
              li
                i.fa.fa-user 
                | Admin
              li
                i.fa.fa-comments
                |  10 Comment
            p
              | Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
  .row.blog-media
    .col-xl-6
      .blog-side
        .blog-left
          a(href='#')
            img.img-fluid(src='../assets/images/blog/1.jpg' alt='')
        .blog-right
          div
            h6 25 January 2018
            a(href='#')
              h4
                | you how all this mistaken idea of denouncing pleasure.
            ul.post-social
              li
                i.fa.fa-user 
                | Admin
              li
                i.fa.fa-comments
                |  10 Comment
            p
              | Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
    .col-xl-6
      .blog-side
        .blog-left
          a(href='#')
            img.img-fluid(src='../assets/images/blog/2.jpg' alt='')
        .blog-right
          div
            h6 25 January 2018
            a(href='#')
              h4
                | you how all this mistaken idea of denouncing pleasure.
            ul.post-social
              li
                i.fa.fa-user 
                | Admin
              li
                i.fa.fa-comments
                |  10 Comment
            p
              | Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasureop

mixin faq 
  .card.faq-block#accordionExample.accordion.theme-accordion
    #headingOne.card-header
      h5.mb-0
        button.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne') How can I downgrade to an earlier ?
    #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
      .card-body
        p
          img.img-fluid.faq-decor(src='../assets/images/landing/chitchat/2.png' alt='chit-chat-back-img')

          | it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures
  .card
    #headingTwo.card-header
      h5.mb-0
        button.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo') How can I upgrade from Shopify 2.5 to shopify 3?
    #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
      .card-body
        p
          img.img-fluid.faq-decor(src='../assets/images/landing/chitchat/2.png' alt='chit-chat-back-img')

          | it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures
  .card
    #headingThree.card-header
      h5.mb-0
        button.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree') Under what license are Regular Labs released?
    #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
      .card-body
        p
          img.img-fluid.faq-decor(src='../assets/images/landing/chitchat/2.png' alt='chit-chat-back-img')

          | it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures
  .card
    #headingFour.card-header
      h5.mb-0
        button.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour') What is the Regular Labs Library?
    #collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordionExample')
      .card-body
        p
          img.img-fluid.faq-decor(src='../assets/images/landing/chitchat/2.png' alt='chit-chat-back-img')

          | it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures
  .card
    #headingFive.card-header
      h5.mb-0
        button.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive') Can I turn on/off some blocks on the page?
    #collapseFive.collapse(aria-labelledby='headingFive' data-parent='#accordionExample')
      .card-body
        p
          img.img-fluid.faq-decor(src='../assets/images/landing/chitchat/2.png' alt='chit-chat-back-img')

          | it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures
  .card
    #headingSix.card-header
      h5.mb-0
        button.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseSix' aria-expanded='false' aria-controls='collapseSix') What is included in the theme package?
    #collapseSix.collapse(aria-labelledby='headingSix' data-parent='#accordionExample')
      .card-body
        p
          img.img-fluid.faq-decor(src='../assets/images/landing/chitchat/2.png' alt='chit-chat-back-img')
            
          | it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years,All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures

mixin testimonial
  //- testimonial start //
  
  .custom-container.testimonial-main
    .row
      .col-12
        .testimonial-slider.owl-carousel.owl-theme.pt-0
          .item
            .testimonial-box.mt-0
              .test-img
                img.img-fluid(src="../assets/images/landing/testimonial/1.png" alt="test-img")
                i.test-wish.fa.fa-heart
              .test-contain
                h4 project manager
                h3 Advanced Equipment
                h6 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                ul.test-icon
                  li
                    a(href="https://www.google.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon1.png" alt="icon-google")
                  li
                    a(href="https://twitter.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon2.png" alt="icon-google")
                  li
                    a(href="https://www.facebook.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon3.png" alt="icon-google")
          .item
            .testimonial-box.mt-0
              .test-img
                img.img-fluid(src="../assets/images/landing/testimonial/2.png" alt="test-img")
              .test-contain
                h4 project manager
                h3 Advanced Equipment
                h6 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                ul.test-icon
                  li
                    a(href="https://www.google.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon1.png" alt="icon-google")
                  li
                    a(href="https://twitter.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon2.png" alt="icon-google")
                  li
                    a(href="https://www.facebook.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon3.png" alt="icon-google")
          .item
            .testimonial-box.mt-0
              .test-img
                img.img-fluid(src="../assets/images/landing/testimonial/3.png" alt="test-img")
                i.test-wish.fa.fa-heart
              .test-contain
                h4 project manager
                h3 Advanced Equipment
                h6 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                ul.test-icon
                  li
                    a(href="https://www.google.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon1.png" alt="icon-google")
                  li
                    a(href="https://twitter.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon2.png" alt="icon-google")
                  li
                    a(href="https://www.facebook.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon3.png" alt="icon-google")
          .item
            .testimonial-box.mt-0
              .test-img
                img.img-fluid(src="../assets/images/landing/testimonial/4.png" alt="test-img")
                i.test-wish.fa.fa-heart
              .test-contain
                h4 project manager
                h3 Advanced Equipment
                h6 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                ul.test-icon
                  li
                    a(href="https://www.google.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon1.png" alt="icon-google")
                  li
                    a(href="https://twitter.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon2.png" alt="icon-google")
                  li
                    a(href="https://www.facebook.com/")
                      img.img-fluid(src="../assets/images/landing/testimonial/icon3.png" alt="icon-google") 
    .testimonial-back-content
        img.img-fluid.test-img2(src="../assets/images/landing/testimonial/6.png" alt="testimonial")
  //- testimonial end //  

mixin header
  // header start //
  header#home
    .custom-container
      .row
        .col-12
          .landing-header            
              .main-menu
                nav.navbar.navbar-expand-sm.navbar-light
                  a.navbar-brand(href='messenger.html')
                    .logo-block
                      img.img-fluid(src="../assets/images/logo/landing-logo.png" alt="logo")
                  button.navbar-toggler.d-xl-none(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='true', aria-label='Toggle navigation')
                    span.navbar-toggler-icon

                  #navbarNav.collapse.navbar-collapse.d-xl-block
                    ul.navbar-nav.mr-auto
                      li.nav-item.active
                        a.nav-link(href='messenger.html')
                          | Messenger 
                          span.sr-only (current)

                      li.nav-item
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown',aria-haspopup='true', aria-expanded='false') Blog
                        ul.dropdown-menu
                          li.nav-link
                            a(href='blog-page(right-sidebar).html') Blog Right sidebar
                          li.nav-link
                            a(href='blog-page(left-sidebar).html') Blog Left sidebar
                          li.nav-link
                            a(href='blog-page(blog-details).html') Blog Details
                          li.nav-link
                            a(href='blog-page(no-sidebar).html') Blog No sidebar

                      li.nav-item
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown',aria-haspopup='true', aria-expanded='false') Email templates
                        ul.dropdown-menu
                          li.nav-link
                            a(href='email-basic-templat.html') Basic
                          li.nav-link
                            a(href='email-basic-templat-two.html') Reset password
                          li.nav-link
                            a(href='email-basic-templat-three_new.html') Reset password

                      li.nav-item
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown',aria-haspopup='true', aria-expanded='false') Authentication
                        ul.dropdown-menu
                          li.nav-link
                            a(href='login.html') Signin
                          li.nav-link
                            a(href='login-2.html') Signin Classic                       
                          li.nav-link
                            a(href='signup.html') Signup
                          li.nav-link
                            a(href='signup-2.html') Signup Classic

                      li.nav-item
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown',aria-haspopup='true', aria-expanded='false') Bouns page
                        ul.dropdown-menu
                          li.nav-link
                            a(href='about.html') About
                          li.nav-link
                            a(href='faq.html') FAQ
                          li.nav-link
                            a(href='elements.html') Elements
                    
mixin blog-details
    .col-sm-12
      .blog-detail.blog-card
        img.img-fluid(src='../assets/images/blog/blog-detail.jpg' alt='')
        h2 Also the leap into electronic typesetting unchanged.
        div.post-social
          ul
            li 25 January 2018
            li
              i.fa.fa-user
              | Admin
            li
              i.fa.fa-comments
              |  10 Comment

          ul.social-group
            li
              a.icon-btn.btn-google.button-effect.btn-sm(href="#")
                i.fa.fa-facebook
            li
              a.icon-btn.btn-twiter.button-effect.btn-sm(href="#")
                i.fa.fa-twitter
            li
              a.icon-btn.btn-linkedin.button-effect.btn-sm(href="#")
                i.fa.fa-linkedin
            li
              a.icon-btn.btn-instagram.button-effect.btn-sm(href="#")
                i.fa.fa-instagram
        p
          | Fusce scelerisque augue a viverra semper. Etiam nisi nibh, vestibulum quis augue id, imperdiet fringilla dolor. Nulla sed nisl vel nisi cursus finibus. Vivamus ut augue nec justo viverra laoreet. Nunc efficitur, arcu ac cursus gravida, lorem elit commodo urna, id viverra libero tellus non ipsum. Fusce molestie ultrices nibh feugiat pretium. Donec pulvinar arcu metus, et dapibus odio condimentum id. Quisque malesuada mauris sit amet dui feugiat, ut pretium mauris luctus. Ut aliquam, tellus nec molestie condimentum, tellus arcu dignissim quam, a gravida nunc nulla vel magna. Sed pulvinar tortor et euismod blandit. Proin accumsan orci ac nunc fermentum vehicula.
        p
          | Cras quis neque urna. Pellentesque mollis, dui nec elementum elementum, ipsum quam suscipit ligula, sit amet lobortis dolor sem sed neque. Vivamus consequat est non sodales efficitur. Aliquam sodales eleifend sodales. Aliquam auctor ipsum quis nisl facilisis, at convallis mauris iaculis. Duis eleifend, magna ac convallis blandit, dui dui auctor leo, sed tincidunt nisi mauris ut nulla. Praesent porttitor dui ac turpis commodo porttitor. Integer ligula nisi, bibendum non sem at, porta condimentum dui.
        p
          | Proin id eleifend diam, euismod dictum nibh. Ut ullamcorper in purus at tempor. Nullam mattis risus nec velit semper lobortis. Donec accumsan ligula fermentum, ultricies massa eget, cursus leo. Suspendisse placerat elit et lacus aliquam, ut elementum leo aliquet. Integer ornare, ipsum eu lacinia viverra, lectus ipsum scelerisque nisl, nec iaculis leo elit id arcu. Aliquam id ante elit. Donec commodo purus eget lacus pharetra, et egestas metus blandit. Quisque pellentesque porta urna, sed dictum enim viverra a.
        ul.tags
          li
            a(href='#') Design
          li
            a(href='#') Branding
          li
            a(href='#') Clean
          li
            a(href='#') CSS3
          li
            a(href='#') JQuery
    .col-sm-12
      .blog-commant.blog-card
        h3 Comments
        ul.comment-section
          li
            .media
              img(src='../assets/images/avtar/3.jpg' alt='Generic placeholder image')
              .media-body
                h6
                  | Josephin water 
                span ( 11 Jannuary 2018 at 1:30AM ) 
                  a.pl-2(href='#') reply
                p
                  | Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat lorem hendrerit ac. Sed id elit quam. In ac mauris arcu. 
          li
            .media
              img(src='../assets/images/avtar/1.jpg' alt='Generic placeholder image')
              .media-body
                h6
                  | Josephin water 
                span ( 12 Jannuary 2018 at 1:30AM ) 
                  a.pl-2(href='#') reply
                p
                  | Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat lorem hendrerit ac. Sed id elit quam. In ac mauris arcu.   
          li.replay
            .media
              img(src='../assets/images/avtar/1.jpg' alt='Generic placeholder image')
              .media-body
                h6
                  | Josephin water 
                span ( 12 Jannuary 2018 at 1:30AM ) 
                  a.pl-2(href='#') reply
                p
                  | Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat lorem hendrerit ac. Sed id elit quam. In ac mauris arcu.
            ul
              li.replay
                .media
                  img(src='../assets/images/avtar/1.jpg' alt='Generic placeholder image')
                  .media-body
                    h6
                      | Josephin water 
                    span ( 12 Jannuary 2018 at 1:30AM ) 
                      a.pl-2(href='#') reply
                    p
                      | Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat lorem hendrerit ac. Sed id elit quam. In ac mauris arcu.

          li
            .media
              img(src='../assets/images/avtar/3.jpg' alt='Generic placeholder image')
              .media-body
                h6
                  | Josephin water 
                span ( 11 Jannuary 2018 at 1:30AM ) 
                  a.pl-2(href='#') reply
                p
                  | Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat lorem hendrerit ac. Sed id elit quam. In ac mauris arcu. 
                       
    .col-sm-12
      .blog-contact.blog-card
        h3 Leave Your Comment
        form.default-form
          .row
            .col-md-4.col-sm-4.mt-3
              .form-group
                label(for='name') Name
                input#name.form-control(type='text' placeholder='Enter Your name' required='')
            .col-md-4.col-sm-4.mt-3
              .form-group
                label(for='email') Email
                input#email.form-control(type='text' placeholder='Email' required='')
            .col-md-4.col-sm-4.mt-3
              .form-group
                label(for='emailid') Website
                input#emailid.form-control(type='text' placeholder='Website' required='')
            .col-12.mt-3
              .form-group
                label(for='exampleFormControlTextarea1') Comment
                textarea#exampleFormControlTextarea1.form-control(placeholder='Write Your Comment' rows='6')
              .form-group
                a.btn.btn-primary(href='#') Post Comment
mixin team(name,imgname)
  div
    .team-content
      .img-content
        img(src='../assets/images/about/team/' +imgname+ '.jpg' , alt='team', class="img-fluid")
      .text-content
        div
          h3= name 
          h4 ceo and co-founder
          p Lorem ipsum dolor sit amet, 
           |  consectetur adipisicing elit, 
           |  sed do eiusmod tempor incididunt 
           |  ut labore et dolore magna aliqua.

          ul
            li 
              a(href="#")
                i.fa.fa-facebook-square
            li
              a(href="#")
                i.fa.fa-twitter
            li
              a(href="#")
                i.fa.fa-instagram
            li
              a(href="#")
                i.fa.fa-skype
            li
              a(href="#")
                i.fa.fa-linkedin