mixin slider
    // slider start //
    section.slider-block
      .custom-container
        .row
          .col-12
            .slider-main
              .slider-contain              
                h1 Easy To Use Our Chat App
                h4 
                  span Desktop App 
                  | – Easy to use our chat app, Attractive and
                  br
                  |  clean design, with many Features Dark  & light, Recent Chat And many more.......
                .downlaod
                  .footer-btn
                    a.btn.active(href="#")
                        i.fa.fa-apple
                    a.btn.mt-0.ml-3(href="#")
                        i.fa.fa-play
                
      img.img-fluid.chat-slide(src="../assets/images/landing/2.png" alt='inner')
      img.img-fluid.inner1(src="../assets/images/landing/header/1.png" alt='inner1')
    // slider end //

mixin app-design
    //app  design start //
    section.section-py-space.app-design-block#features
      .container-fluid
        .row
          .col-12
              .landing-title
                div
                 h1 about app
                .sub-title
                   div
                    h4 Exclusive Features
                    h2 We provide best feature for app design and coding
      .container
        .row.app-code-block
          .col-md-4
            .app-design-main 
              .icon-box
                i.ti-wand
              img.img-fluid.app-hover(src='../assets/images/landing/app/hover.png' alt='app hover img')
              .contant-box
                h2 latest design
                h4 Easy to use our chat app, Attractive Features Dark & light.
          .col-md-4
            .app-design-main.hover
              .icon-box
                i.ti-mobile
              img.img-fluid.app-hover(src='../assets/images/landing/app/hover.png' alt='app hover img')
              .contant-box
                h2 fully responsive
                h4 Easy to use our chat app, Attractive Features Dark & light. 
          .col-md-4
            .app-design-main 
              .icon-box
                i.ti-shortcode
              img.img-fluid.app-hover(src='../assets/images/landing/app/hover.png' alt='app hover img')
              .contant-box
                h2 clean code
                h4 Easy to use our chat app, Attractive Features Dark & light.
          .col-12.text-center
              a.btn.app-btn(href="#") view more  
    //app  design end //
mixin chitchat
    // chit chat start //
    section.section-py-space.chitchat-main.light-bg
      .container-fluid
        .landing-title
          div
           h1 why chooce
          .sub-title
             div
              h4 Why Chooce Chitchat
              h2 Chitchat is fully responsive excellent choice
      .custom-container
        .row.chit-chat-block
          .col-md-6
            .chitchat-contain
              img.img-fluid.chitchat-img(src="../assets/images/landing/chitchat/4.png" alt="chit-chat")
          .col-md-6
            .chitchat-contain
              div
                .chitchat-logo
                  img.img-fluid(src="../assets/images/logo/landing-logo.png" alt="landing-logo")
                h3 Easy to use
                  span Our Application
                h1 All-in-one responsive app for you
                h4  It is about us being able to offer help with the branding campaign, product presentation, and advertisement running across social media.
                ul.detial-price
                  li
                    i.fa.fa-check
                    | Customer First Content-focused Displaying Effects
                  li
                    i.fa.fa-check  
                    | High Definition Full-screen Sliders & Backgrounds
                  li
                    i.fa.fa-check  
                    | Try for free, Forever! 
                a.btn.pricing-btn(href="#") view more
      .chitchat-back-block
        img.img-fluid.chit-chat1(src="../assets/images/landing/chitchat/2.png" alt="chit-chat-back-img")
        img.img-fluid.chit-chat2(src="../assets/images/landing/chitchat/1.png" alt="chit-chat-back-img")
        img.img-fluid.chit-chat3(src="../assets/images/landing/chitchat/3.png" alt="chit-chat-back-img")
    // chit chat end //

mixin teamwork
    // team-work start //
    section.section-py-space.team-work-main#team
      .custom-container
        .row.team-block
          .col-md-6
            .team-work-content
              div
                .ply-main
                  .ply-content
                    .ply-sub-content
                      i.fa.fa-play
                  h3  See Our 
                    span Team work
                h1 Efficient teamwork for every enterprise
                h4 Big companies save time with Slack by securely collaborating across teams, departments, offices and countries.
                a.btn.pricing-btn(href="#")  Chitchat for enterprise
          .col-md-6
            .team-work-content
              img.img-fluid.team-main(src='../assets/images/landing/teamwork/5.png' alt='chit-chat')
      img.img-fluid.team1(src="../assets/images/landing/teamwork/1.png" alt="team-work")
      img.img-fluid.team2(src="../assets/images/landing/teamwork/2.png" alt="team-work")
      img.img-fluid.team3(src="../assets/images/landing/teamwork/3.png" alt="team-work")
      img.img-fluid.team4(src="../assets/images/landing/teamwork/4.png" alt="team-work")
      img.img-fluid.team5(src="../assets/images/landing/slider/6.png" alt="team-work")
    // team-work end //
mixin collaboration
    // collaboration start //
    section.collaboration-main
      .container-fluid
        .row
          .col-12
            .landing-title
              div
               h1 finger tips
              .sub-title
                 div
                  h4 Exclusive Features
                  h2 Put collaboration at your fingertips
      .custom-container
        .row
          .col-12
            .collaboration-content
              ul.collab-tab.nav.nav-pills
                li.nav-item
                  a.nav-link.active(data-toggle='pill' href='#tab1')
                    div.tab-main
                      .tab-img
                        i.ti-thought
                      .tab-content
                        h3 Organise
                        p conversation
                li.nav-item
                  a.nav-link(data-toggle='pill' href='#tab2')
                    div.tab-main
                      .tab-img
                        i.ti-zip
                      .tab-content
                        h3 Shared
                        p file and etc
                li.nav-item
                  a.nav-link(data-toggle='pill' href='#tab3')
                    div.tab-main
                      .tab-img
                        i.ti-search
                      .tab-content
                        h3 Search
                        p everything
                li.nav-item
                  a.nav-link(data-toggle='pill' href='#tab4')
                    div.tab-main
                      .tab-img
                        i.ti-video-camera
                      .tab-content
                        h3 talk in
                        p video call
            .tab-detail
                .tab-content
                  #tab1.tab-pane.container.active
                    img.img-fluid(src="../assets/images/landing/finger-tips/main.jpg" alt="tab-detail-img")
                  #tab2.tab-pane.container.fade
                    img.img-fluid(src="../assets/images/landing/finger-tips/main.jpg" alt="tab-detail-img")
                  #tab3.tab-pane.container.fade
                    img.img-fluid(src="../assets/images/landing/finger-tips/main.jpg" alt="tab-detail-img")
                  #tab4.tab-pane.container.fade
                    img.img-fluid(src="../assets/images/landing/finger-tips/main.jpg" alt="tab-detail-img")
    // collaboration end //

mixin secure-app
    // secure-app start //
    section.section-pb-space.secure-app-main
      .custom-container
        .row
          .col-lg-5.offset-lg-7.col-lg-5.offset-lg-2
            .secure-app-content
              div
                .ply-main
                    .ply-content
                        i.ti-shield
                    h3 Secure Your 
                      span Messages
                h1 The world's top secure App
                h4
                  span Desktop App 
                  | – Easy to use our chat app, Attractive and clean design, with many Features :- Dark & light, Recent Chat And many more....... 
                a.btn.pricing-btn(href="#") learn more
      .secure-back-content
        img.img-fluid.secure-img1(src="../assets/images/landing/parallax/1.png" alt="parellex-img1")
        img.img-fluid.secure-img2(src="../assets/images/landing/parallax/1.png" alt="parellex-img1")
mixin pricing
    // pricing plan start //
    section.section-py-space#price
      .container-fluid
        .row
          .col-12
              .landing-title
                div
                 h1 pricing plan
                .sub-title
                   div
                    h4 Choose Your Pricing Plan
                    h2 Affordable for everyone!
      .custom-container
        .row
          .col-12
            .price-slider.owl-carousel.owl-theme
              .item
                .pricing-box
                    div
                      .pricing-icon
                        img.img-fluid(src="../assets/images/landing/pricing-plan/1.png" alt='pricing-plan')
                      .pricing-content
                        h2 Free Plan
                        h4 $0 | Totally Free Plane
                        a.btn.pricing-btn get started
                      ul.avb-price
                        li
                          i.fa.fa-check
                          | Common Feature is Avalible
                        li
                          i.fa.fa-check
                          | sxgsgerggregrterett
                        li
                          i.fa.fa-check
                          | Try for free, Forever!
              .item
                .pricing-box
                  div
                    .pricing-icon
                      img.img-fluid(src="../assets/images/landing/pricing-plan/2.png" alt='pricing-plan')
                    .pricing-content
                      h2 Professional
                      h4 $59 | Professional Plane
                      a.btn.pricing-btn get started
                    ul.avb-price
                      li
                        i.fa.fa-check
                        | All Features is Avalible
                      li
                        i.fa.fa-check
                        | High Definition Full-screen
                      li
                        i.fa.fa-check
                        | 24/7 phone and email support
              .item
                .pricing-box
                  div
                    .pricing-icon
                      img.img-fluid(src="../assets/images/landing/pricing-plan/3.png" alt='pricing-plan')
                    .pricing-content
                      h2 Advanced
                      h4 $99 | Advance Plane
                      a.btn.pricing-btn get started
                    ul.avb-price
                      li
                        i.fa.fa-check
                        | All Features is Avalible
                      li
                        i.fa.fa-check
                        | High Definition Full-screen
                      li
                        i.fa.fa-check
                        | 24/7 phone and email support
    // pricing plan end //
    
mixin subscribe
    //subscribe update start//
    section.section-pb-space.subscribe-main#subscribe
      .container-fluid
        .row
          .col-12
              .landing-title
                div
                 h1 subscribe
                .sub-title
                   div
                    h4 Subscribe Newsletter
                    h2 Subscribe to receive updates
      .custom-container
        .row.subscribe-block
          .col-md-6
            .subscribe-content
              img.img-fluid(src="../assets/images/landing/subscribe/1.png" alt="subscribe-landing")
          .col-md-6
            .subscribe-content
              div
                h1 Subscribe our Newsletter get new update.
                form.form-inline
                  input.form-control(placeholder="your name")
                  input.form-control(placeholder="email")
                  button.btn Submit
                h4 What’s next in Chitchat?
                  span &nbsp; Learn More
      .subscribe-back-content
        img.img-fluid.subscribe-img1(src="../assets/images/landing/subscribe/2.png" alt="subscribe-back-img")
    //subscribe update end//